*{
    margin:0;
    padding:0;
}

/* Header Section */
.header{
    display:flex;
    justify-content: center;
    align-items:center;
    color:white;
    background-color:black;
    height:60px;
    margin-bottom:80px;
}

/* Welcome Section */
.welcome-section{
    display:flex;
    justify-content: center;
    align-items:center;
    margin:70px auto;
    flex-direction: column;
}
.welcome-section p{
    padding:10px;
}

.welcome-section a{
    text-decoration: none;
}


/* Main Body */
.body-content{
    margin:50px;
    letter-spacing: 1px;
}
.main-section{
    margin:50px 0px;
    display:flex;
    justify-content:space-evenly;
}
.main-section img{

}
.personal-details{

}
.detail-list{
    list-style: none;
    padding:2px;
}
.detail-list h4{
    padding:7px 0px;
}
.body-content p{
    margin:20px 0px;
}

/* Footer */
.footer{
    display:flex;
    justify-content: center;
    align-items:center;
    color:white;
    background-color:black;
    height:40px;
}
